<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap" rel="stylesheet">
    <style>
        h1 {
            font-family: 'Hind Siliguri', sans-serif;
            font-weight: 600;
        }

        p {
            font-size: 18px;
            font-family: 'Hind Siliguri', sans-serif;
        }

        .row {
            display: flex;
            align-content: center;
        }
    </style>
</head>
<div class="container">
    <div class="row">
        {% for i in queryset %}
            <h1>{{ i.NEWS_TITLE }}</h1>
            <p>{{ i.NEWS_SUBTITLE }}</p>
            <p>{{ i.POST_CREATED_AT }}</p>
            <a href="{{ i.NEWS_LINK }}">বিস্তারিত </a>
            <u></u>
        {% endfor %}
    </div>
</div>
</html>